*{
  padding: 0px;
  margin: 0px;
}
/* Style the body and header */
@font-face {
  font-family: 'CustomFont'; /* Define a custom name for the font */
  src: url('./fonts/BalooBhaijaan2-Bold.ttf'); /* Path to the font file in your project directory */
}
@font-face {
  font-family: 'CustomFont2'; /* Define a custom name for the font */
  src: url('./fonts/BalooBhaijaan2-Regular.ttf'); /* Path to the font file in your project directory */
}
body {
  background: linear-gradient(to bottom, #f0c5b0, #fbe5d5);
  background-size:cover;
  background-repeat: no-repeat;
  font-family: Roboto, sans-serif;
  height:100vh;
}

.all{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.timer-and-riddle {
  display: flex;
  align-items: center; /* center align the children vertically */
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

.timer {
  font-weight: bold;
  font-family: CustomFont;
  text-align: center;
  text-decoration: none;
  color:  rgba(228, 9, 9, 0.5);;
  font-size: large;
}

.nextriddle {
  margin-left: 17px;
  margin-right: 7px;
  font-weight: bold;
  font-family: CustomFont;
  text-align: center;
  color: rgb(0, 0, 0);
}

header {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  font-family: CustomFont;
}

/* Style the container and riddle */
.container {
  max-width: 960px;
  color: #000000;
  font-size: 25px;
  font-family: CustomFont2;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* Style the hint trigger and content */
.hint-trigger {
  font-style: italic;
  font-size: 1.2rem;
  cursor: pointer;
}

.hint-content {
  display: none;
  font-style: italic;
  font-size: 1.2rem;
}

/* Style the footer */
footer {
  color: #000000;
  text-align: center;
  align-items: flex-end;
  font-size: 1rem;
}

/* Center the riddle and the hint container */
.riddle {
  text-align: center;
}

.hint-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: CustomFont2;
}

/* Style the hint button */
.hint-button {
  font-weight: bold;
  font-family: CustomFont;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;  
  border-radius: 12px;
  background-color:#ffffff00;
  border:none;
  z-index: 2;
  width: 80px; /* Set the width to 120 pixels */
  height: 40px; /* Set the height to 40 pixels */
  margin-bottom: 15px;
  margin-top: 10px;
}
.EasyHard{
  font-weight: bold;
  font-family: CustomFont;
  color: rgb(0, 0, 0);
  text-align: center;
  z-index: 2;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
}
.EasyHard2{
  width: 120px; /* Set the width to 120 pixels */
  height: 35px; /* Set the height to 40 pixels */
  z-index: 2;
  font-weight: bold;
  font-family: CustomFont;
  color:rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(228, 9, 9, 0.5);
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);*/
  border: none;
  justify-content: center;
  align-items: center;
}
.EasyHard2:hover{
  color:aquamarine; /* Dark green */
}
/* Style the hint text */
.hint-text {
  font-size: 14px;
  margin-bottom: 15px;
}
/* Custom riddle title font size */
.riddle-title {
  font-size: 25px;
  margin-bottom: 3px;
}
#ad-container {
  display: none;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
   left: 0;
   transform: translateY(-50%);
   color: #000000;
}
.InsertText{
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  font-family: CustomFont;
  text-align: center;
  display: flex;
  font-size: 25px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}
.InsertText::placeholder{
color: rgb(0, 0, 0);
}
.Submit{
  /*text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 10);*/
  border: 2px solid rgb(0, 0, 0);
  border: none;
  font-family: CustomFont;
  text-align: center;
  display: flex;
  font-size: 13px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: #807a7a;
  color: rgb(0, 0, 0);
  width: 60px;
  cursor: pointer;
  margin-bottom: 45px;
  background-color: #ffc40000 ;
}
.Submit:hover{
  
  background-color:aquamarine;
}
.Site-description{
  color: #000000;
  font-family: CustomFont2;
  text-align: center;
  display: flex;
  font-size: 25px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  line-height: 45px;
}
.everyone_word{
  color:aquamarine;
  font-family: CustomFont;
  font-size: 35px;
  text-shadow: 1px 1px #000000;
}

.Buttons_mainpage{
  border: 2px solid rgb(0, 0, 0);
  font-family: CustomFont;
  text-align: center;
  display: flex;
  font-size: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffc40000 ;
  padding-left: 60px;
  padding-right: 60px;
  margin: 50px;
  width: 280px;
  height: 72px;
  transition: all 0.3s ease-in-out;
}

.Buttons_mainpage:hover{
  background-color:aquamarine; /* Dark green */
}
.Buttons_align{
  display: flex;
  align-items: center; /* center align the children vertically */
}
.Home_Button{
  font-family: CustomFont;
  text-align: center;
  display:flex;
  font-size: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #ffc40000 ;
  padding-left: 5px;
  width: 150px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  position:fixed;
  top: 0;
  left: 0;
  border: none;
}
.Home_Button:hover{
  color:aquamarine; /* Dark green */
}

  @media screen and (min-width: 768px) {
    header {
      font-size: 3rem;
    }
  
    .container {
      font-size: 30px;
    }
  
    h2 {
      font-size: 3rem;
    }
  
    .hint-trigger {
      font-size: 1.5rem;
    }
  
    .hint-content {
      font-size: 1.5rem;
    }
  
    footer {
      font-size: 1.2rem;
    }

}